name: CI

on: [push, pull_request]

jobs:
  build:
    name: JDK ${{ matrix.ci_java_version }} | Kotlin ${{ matrix.ci_kotlin_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ci_java_version: [16]
        ci_kotlin_version: [1.6.255-SNAPSHOT]
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1
      - name: Install JDK ${{ matrix.ci_java_version }}
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.ci_java_version }}
      - name: Build with Gradle
        run: ./gradlew clean check --stacktrace -Pkotlin_version=${{ matrix.ci_kotlin_version }}
      - name: Reclaim memory
        run: ./gradlew --stop && jps|grep -E 'KotlinCompileDaemon|GradleDaemon'| awk '{print $1}'| xargs kill -9 || true
      - name: Upload snapshot (main only)
        if: success() && github.ref == 'refs/heads/main' && github.event_name != 'pull_request' && matrix.ci_java_version == '8' && matrix.ci_kotlin_version == '1.5.0'
        run: ./gradlew uploadArchives -x dokkaHtml --no-parallel -PmavenCentralUsername=${{ secrets.SonatypeUsername }} -PmavenCentralPassword=${{ secrets.SonatypePassword }}
